@{
    ViewData["Title"] = "Category";
}
@model IDataResult<List<CategoryGetDto>>
<div class="breadcrumb-wrapper breadcrumb-wrapper-2 breadcrumb-contacts">
    <h1>Main Category</h1>
    <p class="breadcrumbs">
        <a class="btn btn-primary" asp-action="Create" asp-controller="Category">New Category</a>
    </p>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="ec-cat-list card card-default">
            <div class="card-body">
                <div class="table-responsive">
                    <partial name="_categoryTablePartial" model="Model.Data" />
                </div>
            </div>
        </div>
    </div>
</div>
