@{
    ViewData["Title"] = "Category";
}
@model IDataResult<List<CategoryGetDto>>
<div class="breadcrumb-wrapper breadcrumb-wrapper-2 breadcrumb-contacts">
	<h1>Main Category</h1>
	<p class="breadcrumbs">
		<span><a href="index.html">Home</a></span>
		<span><i class="mdi mdi-chevron-right"></i></span>Main Category
	</p>
</div>
<div class="row">
	<div class="col-xl-4 col-lg-12">
		<div class="ec-cat-list card card-default mb-24px">
			<div class="card-body">
				<div class="ec-cat-form">
					<h4>Add New Category</h4>
					<partial name="_categoryCreatePartial" model="new CategoryPostDto()" />
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-8 col-lg-12">
		<div class="ec-cat-list card card-default">
			<div class="card-body">
				<div class="table-responsive">
					<table id="responsive-data-table" class="table">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Product</th>
								<th>Status</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var category in Model.Data)
							{
								<tr>
									<td>@category.Id</td>
									<td>@category.Name</td>
									<td>@category.Products.Count</td>
									<td>@{
											if (category.isDeleted)
											{
												@:<span class="badge badge-danger">Inactive</span>
											}
											else
											{
												@:<span class="badge badge-success">Active</span>
											}
										}</td>
									<td>
										<div class="btn-group">
											<button type="button"
												class="btn btn-outline-success">
												Info
											</button>
											<button type="button"
												class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
												data-bs-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false" data-display="static">
												<span class="sr-only">Info</span>
											</button>

											<div class="dropdown-menu">
												<a class="dropdown-item" href="#">Edit</a>
												<a class="dropdown-item" href="#">Delete</a>
											</div>
										</div>
									</td>
								</tr>
							}
							@*<tr>
								<td><img class="cat-thumb" src="~/Manage/assets/img/category/footwear.png" alt="Product Image" /></td>
								<td>Footwear</td>
								<td>
									<span class="ec-sub-cat-list">
										<span class="ec-sub-cat-count" title="Total Sub Categories">4</span>
										<span class="ec-sub-cat-tag">Sports</span>
										<span class="ec-sub-cat-tag">Casual</span>
										<span class="ec-sub-cat-tag">safety shoes </span>
										<span class="ec-sub-cat-tag">Sandal</span>
									</span>
								</td>
								<td>68</td>
								<td>5161</td>
								<td>ACTIVE</td>
								<td><span class="badge bg-primary">Medium</span></td>
								<td>
									<div class="btn-group">
										<button type="button"
												class="btn btn-outline-success">
											Info
										</button>
										<button type="button"
												class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
												data-bs-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false" data-display="static">
											<span class="sr-only">Info</span>
										</button>

										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">Edit</a>
											<a class="dropdown-item" href="#">Delete</a>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td><img class="cat-thumb" src="~/Manage/assets/img/category/jewelry.png" alt="Product Image" /></td>
								<td>Jewelry</td>
								<td>
									<span class="ec-sub-cat-list">
										<span class="ec-sub-cat-count" title="Total Sub Categories">4</span>
										<span class="ec-sub-cat-tag">necklace</span>
										<span class="ec-sub-cat-tag">chain</span>
										<span class="ec-sub-cat-tag">rings</span>
										<span class="ec-sub-cat-tag">earings</span>
									</span>
								</td>
								<td>68</td>
								<td>5161</td>
								<td><span class="inactive">Inactive</span></td>
								<td><span class="badge badge-success">Top</span></td>
								<td>
									<div class="btn-group">
										<button type="button"
												class="btn btn-outline-success">
											Info
										</button>
										<button type="button"
												class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
												data-bs-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false" data-display="static">
											<span class="sr-only">Info</span>
										</button>

										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">Edit</a>
											<a class="dropdown-item" href="#">Delete</a>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td><img class="cat-thumb" src="~/Manage/assets/img/category/perfume.png" alt="Product Image" /></td>
								<td>Perfume</td>
								<td>
									<span class="ec-sub-cat-list">
										<span class="ec-sub-cat-count" title="Total Sub Categories">4</span>
										<span class="ec-sub-cat-tag">Clothes perfume</span>
										<span class="ec-sub-cat-tag">deodorant </span>
										<span class="ec-sub-cat-tag">Flower fragrance </span>
										<span class="ec-sub-cat-tag">Air Freshener</span>
									</span>
								</td>
								<td>38</td>
								<td>1561</td>
								<td>ACTIVE</td>
								<td><span class="badge bg-primary">Medium</span></td>
								<td>
									<div class="btn-group">
										<button type="button"
												class="btn btn-outline-success">
											Info
										</button>
										<button type="button"
												class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
												data-bs-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false" data-display="static">
											<span class="sr-only">Info</span>
										</button>

										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">Edit</a>
											<a class="dropdown-item" href="#">Delete</a>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td><img class="cat-thumb" src="~/Manage/assets/img/category/cosmetics.png" alt="Product Image" /></td>
								<td>Cosmetics</td>
								<td>
									<span class="ec-sub-cat-list">
										<span class="ec-sub-cat-count" title="Total Sub Categories">10</span>
										<span class="ec-sub-cat-tag">Makeup kit</span>
										<span class="ec-sub-cat-tag">Hair gel</span>
										<span class="ec-sub-cat-tag">sunscreen</span>
										<span class="ec-sub-cat-tag">facewash</span>
										<span class="ec-sub-cat-tag">Body shop</span>
										<span class="ec-sub-cat-tag">Lipstick</span>
										<span class="ec-sub-cat-tag">eye liner</span>
										<span class="ec-sub-cat-tag">Hair Shampoo</span>
										<span class="ec-sub-cat-tag">Beauty Cream</span>
										<span class="ec-sub-cat-tag">Skin Serum</span>
									</span>
								</td>
								<td>18</td>
								<td>1061</td>
								<td>ACTIVE</td>
								<td><span class="badge bg-danger">Low</span></td>
								<td>
									<div class="btn-group">
										<button type="button"
												class="btn btn-outline-success">
											Info
										</button>
										<button type="button"
												class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
												data-bs-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false" data-display="static">
											<span class="sr-only">Info</span>
										</button>

										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">Edit</a>
											<a class="dropdown-item" href="#">Delete</a>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td><img class="cat-thumb" src="~/Manage/assets/img/category/glasses.png" alt="Product Image" /></td>
								<td>Glasses</td>
								<td>
									<span class="ec-sub-cat-list">
										<span class="ec-sub-cat-count" title="Total Sub Categories">2</span>
										<span class="ec-sub-cat-tag">Sunglasses </span>
										<span class="ec-sub-cat-tag">Lenses </span>
									</span>
								</td>
								<td>82</td>
								<td>10061</td>
								<td><span class="inactive">Inactive</span></td>
								<td><span class="badge bg-primary">Medium</span></td>
								<td>
									<div class="btn-group">
										<button type="button"
												class="btn btn-outline-success">
											Info
										</button>
										<button type="button"
												class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
												data-bs-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false" data-display="static">
											<span class="sr-only">Info</span>
										</button>

										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">Edit</a>
											<a class="dropdown-item" href="#">Delete</a>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td><img class="cat-thumb" src="~/Manage/assets/img/category/bag.png" alt="Product Image" /></td>
								<td>Bags</td>
								<td>
									<span class="ec-sub-cat-list">
										<span class="ec-sub-cat-count" title="Total Sub Categories">4</span>
										<span class="ec-sub-cat-tag">shopping bag</span>
										<span class="ec-sub-cat-tag">Gym backpack</span>
										<span class="ec-sub-cat-tag">purse </span>
										<span class="ec-sub-cat-tag">wallet </span>
									</span>
								</td>
								<td>18</td>
								<td>3061</td>
								<td>ACTIVE</td>
								<td><span class="badge badge-success">Top</span></td>
								<td>
									<div class="btn-group">
										<button type="button"
												class="btn btn-outline-success">
											Info
										</button>
										<button type="button"
												class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
												data-bs-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false" data-display="static">
											<span class="sr-only">Info</span>
										</button>

										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">Edit</a>
											<a class="dropdown-item" href="#">Delete</a>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td><img class="cat-thumb" src="~/Manage/assets/img/category/footwear.png" alt="Product Image" /></td>
								<td>Footwear</td>
								<td>
									<span class="ec-sub-cat-list">
										<span class="ec-sub-cat-count" title="Total Sub Categories">4</span>
										<span class="ec-sub-cat-tag">Sports</span>
										<span class="ec-sub-cat-tag">Casual</span>
										<span class="ec-sub-cat-tag">safety shoes </span>
										<span class="ec-sub-cat-tag">Sandal</span>
									</span>
								</td>
								<td>68</td>
								<td>5161</td>
								<td>ACTIVE</td>
								<td><span class="badge bg-primary">Medium</span></td>
								<td>
									<div class="btn-group">
										<button type="button"
												class="btn btn-outline-success">
											Info
										</button>
										<button type="button"
												class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
												data-bs-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false" data-display="static">
											<span class="sr-only">Info</span>
										</button>

										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">Edit</a>
											<a class="dropdown-item" href="#">Delete</a>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td><img class="cat-thumb" src="~/Manage/assets/img/category/jewelry.png" alt="Product Image" /></td>
								<td>Jewelry</td>
								<td>
									<span class="ec-sub-cat-list">
										<span class="ec-sub-cat-count" title="Total Sub Categories">4</span>
										<span class="ec-sub-cat-tag">necklace</span>
										<span class="ec-sub-cat-tag">chain</span>
										<span class="ec-sub-cat-tag">rings</span>
										<span class="ec-sub-cat-tag">earings</span>
									</span>
								</td>
								<td>68</td>
								<td>5161</td>
								<td><span class="inactive">Inactive</span></td>
								<td><span class="badge badge-success">Top</span></td>
								<td>
									<div class="btn-group">
										<button type="button"
												class="btn btn-outline-success">
											Info
										</button>
										<button type="button"
												class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
												data-bs-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false" data-display="static">
											<span class="sr-only">Info</span>
										</button>

										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">Edit</a>
											<a class="dropdown-item" href="#">Delete</a>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td><img class="cat-thumb" src="~/Manage/assets/img/category/perfume.png" alt="Product Image" /></td>
								<td>Perfume</td>
								<td>
									<span class="ec-sub-cat-list">
										<span class="ec-sub-cat-count" title="Total Sub Categories">4</span>
										<span class="ec-sub-cat-tag">Clothes perfume</span>
										<span class="ec-sub-cat-tag">deodorant </span>
										<span class="ec-sub-cat-tag">Flower fragrance </span>
										<span class="ec-sub-cat-tag">Air Freshener</span>
									</span>
								</td>
								<td>38</td>
								<td>1561</td>
								<td>ACTIVE</td>
								<td><span class="badge bg-primary">Medium</span></td>
								<td>
									<div class="btn-group">
										<button type="button"
												class="btn btn-outline-success">
											Info
										</button>
										<button type="button"
												class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
												data-bs-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false" data-display="static">
											<span class="sr-only">Info</span>
										</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">Edit</a>
											<a class="dropdown-item" href="#">Delete</a>
										</div>
									</div>
								</td>
							</tr>*@
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

