@{
    ViewData["Title"] = "All Products";
}
@section AfterMediaLinks{
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/productList.css" />
}
@model List<ProductGetDto>
<div class="container mt-5">
    <div class="row justify-content-end general">
        <div class="col-lg-3">
            <partial name="_productFilterPartial" />
        </div>
        <div class="col-lg-9 col-md-12">
            <div class="row mb-4 d-flex justify-content-between align-items-center">
                <div class="col-md-8">
                    <h3> "Dress <span id="product-count">@Model.Count</span> results are listed for the search "</h3>
                </div>
                <div class="col-md-4 d-flex justify-content-end ">
                    <select class="form-select me-2" id="product-order">
                        <option value="0" selected>Most Relevant</option>
                        <option value="1">Trending</option>
                        <option value="2">The lowest price</option>
                        <option value="3">The highest price</option>
                        <option value="4">The newests</option>
                        <option value="5">Best sellers</option>
                        <option value="6">Most liked</option>
                    </select>
                    <button id="filterBtn">Filter <i class="fa-solid fa-filter"></i></button>
                </div>
            </div>
            <div class="row" id="product-list">
                <partial name="_productListPartial" model="Model" />
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
    <script src="~/assets/js/favfunctions.js"></script>
    <script src="~/assets/js/cartfunctions.js"></script>
    <script src="~/assets/js/productList.js"></script>
    <script>
        $.urlParam = function (name) {
            const results = new RegExp("[\\?&]" + name + "=([^&#]*)").exec(window.location.search);
            if (results == null) {
                return null;
            } else {
                return decodeURIComponent(results[1].replace(/\+/g, " "));
            }
        };
        const categoryId = $.urlParam("categoryId");
        $('input[type="checkbox"][id="category-'+categoryId+'"]').prop("checked",true)
        const onSale = $.urlParam('onSale') === 'true';
        if (onSale) {
            $('input[type="checkbox"][name="onSale"]').prop("checked", true)
        }
        const isTrending = $.urlParam('isTrending') === 'true';
        if (isTrending) {
            $("#product-order").val('1');
        }
        $('input[type="checkbox"]').on('change', function () {
            GetFilteredProducts();
        });
        $("#priceRange").on('change', function () {
            GetFilteredProducts()
        })
        $("#product-order").change(function () {
            GetFilteredProducts();
        })
        function GetFilteredProducts() {
            var dataFilter = {
                categoryIds: [],
                sizeIds: [],
                colorIds: [],
                bundleIds: [],
                onSale: false,
                priceRange: 1000,
                orderFilter: 0
            }
            var selectedCategories = $('input[type="checkbox"][name="categories"]:checked').map(function () {
                return $(this).val();
            }).get();
            var selectedSizes = $('input[type="checkbox"][name="sizes"]:checked').map(function () {
                return $(this).val();
            }).get();
            var selectedColors = $('input[type="checkbox"][name="colors"]:checked').map(function () {
                return $(this).val();
            }).get();
            var selectedBundles = $('input[type="checkbox"][name="bundles"]:checked').map(function () {
                return $(this).val();
            }).get();
            var onSaleVal = $('input[type="checkbox"][name="onSale"]').prop('checked')
            var priceRangeVal = $("#priceRange").val()
            var orderFilterValue = $("#product-order").val();
            dataFilter = {
                categoryIds: selectedCategories,
                sizeIds: selectedSizes,
                colorIds: selectedColors,
                bundleIds: selectedBundles,
                onSale: onSaleVal,
                priceRange: priceRangeVal,
                orderFilter: orderFilterValue
            };

            $.ajax({
                url: '@Url.Action("GetProductsPartial","Product")',
                type: 'POST',
                dataType: 'html',
                data: {
                    filter: dataFilter
                },
                success: function (result) {
                    $('#product-list').html(result)
                    $('#product-list').hide().fadeIn('1000')
                    $('#product-count').html($('#product-list').find('.col-md-6').length)
                }
            })
        }
    </script>
}
