@{
    ViewData["Title"] = "Product Collection";
}
@model ProductCollectionUpdateDto
@section Links{
    <style>
        .ec-vendor-uploads .ec-vendor-img-upload .ec-vendor-main-img .thumb-upload-set .thumb-upload .thumb-preview > div {
            width: 230px;
            height: 260px;
        }
    </style>
}
<div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
    <div>
        <h1>Update Collection</h1>
        <p class="breadcrumbs">
            <span><a href="index.html">Home</a></span>
            <span><i class="mdi mdi-chevron-right"></i></span>Collection
        </p>
    </div>
    <div>
        <a asp-action="Index" asp-controller="ProductCollection" class="btn btn-primary">
            Return to all Collections
        </a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card card-default">
            <div class="card-header card-header-border-bottom">
                <h2>Update Collection</h2>
            </div>

            <div class="card-body">
                <form class="row ec-vendor-uploads" asp-controller="ProductCollection" asp-action="Update" enctype="multipart/form-data">
                    <input type="hidden" asp-for="Id" />
                    <div class="col-lg-6">
                        <div class="ec-vendor-upload-detail">
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <label asp-for="Name" class="form-label">Collection Name</label>
                                    <input asp-for="Name" type="text" class="form-control">
                                    <span class="text-danger spanText" asp-validation-for="Name"></span>
                                </div>
                                <div class="col-md-12">
                                    <label asp-for="Description" class="form-label">Collection Description</label>
                                    <input asp-for="Description" type="text" class="form-control">
                                    <span class="text-danger spanText" asp-validation-for="Description"></span>
                                </div>
                                <div class="col-md-12">
                                    <label asp-for="CollectionIcon" class="form-label">Collection Icon</label>
                                    <input asp-for="CollectionIcon" type="text" class="form-control">
                                    <span class="text-danger spanText" asp-validation-for="CollectionIcon"></span>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>