@model FAQCategoryPostDto
<form asp-action="Create" asp-controller="FAQCategory" asp-area="Manage">
	<div class="form-group row">
		<label asp-for="Name" class="col-12 col-form-label">Name</label>
		<div class="col-12">
			<input asp-for="Name" class="form-control here slug-title" type="text">
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<button name="submit" type="submit" class="btn btn-primary">Submit</button>
		</div>
	</div>
</form>