@{
    ViewData["Title"] = "FAQCategory";
}
@model IDataResult<List<FAQCategoryGetDto>>
<div class="breadcrumb-wrapper breadcrumb-wrapper-2 breadcrumb-contacts">
    <h1>Main FAQCategory</h1>
	<p class="breadcrumbs">
		<a class="btn btn-primary" asp-action="Create" asp-controller="FAQCategory">New FAQCategory</a>
	</p>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="ec-cat-list card card-default">
            <div class="card-body">
                <div class="table-responsive">
                    <partial name="_faqCategoryTablePartial" model="Model.Data" />
                </div>
            </div>
        </div>
    </div>
</div>

