@{
    ViewData["Title"] = "About";
}
@section BeforeMediaLinks{
    <link href="~/assets/css/about.css" rel="stylesheet" />
}

<div class="new_about-us_page_main">
    <div class="new_about-us_page_main_bg">
        <div class="about_flowers_main">
            <div class="new_about-us_page_main_bg animate__animated animate__fadeInDown">
                <img src="//cdn.shopify.com/s/files/1/2026/1775/files/about_us_banner2_6f9406d4-0202-4147-bd98-a01771751b7a.png?v=1637097451"
                     loading="lazy" class="img-fluid">
            </div>

            <div class="new_about-us_page_main_about_flowers">
                <div class="containr">
                    <div class="new_about-us_page_content_img">
                        <div class="new_about-us_page_main_about_flowers_main animate__animated animate__backInLeft">
                            <img src="//cdn.shopify.com/s/files/1/2026/1775/files/about_flowers_left_615fc2c9-8b6e-4331-bf90-cfb144925ac4.png?v=1637097514"
                                 loading="lazy" class="img-fluid">
                        </div>
                        <h1 class="animate__animated animate__backInUp">About us</h1>
                        <div class="new_about-us_page_main_about_flowers_main new_about-us_page_main_about_flowers_main2 animate__animated animate__backInRight">
                            <img src="//cdn.shopify.com/s/files/1/2026/1775/files/about_flowers_1_cdbb2b8a-c026-406a-8dfe-cdcac4596ce0.png?v=1637097542"
                                 loading="lazy" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="our_story_main">
    <div class="containr">
        <div class="our_story aos-all">
            <div class="our_story_content animate__animated animate__fadeInLeft ">
                <h2>Our Story</h2>
                <p>
                    Notebook Therapy holds a lot close to our hearts, but mostly, we want to create a space for
                    everyone
                    to feel more creative and at peace. With every product, we aim to bring you a sense of joy and
                    calm;
                    one you can access in both your brightest moments and your darkest.
                </p>
                <p>
                    <br>It all started with a love of stationery and a life-long affection for East-Asian culture.
                    Inspired by visits to the one-of-a-kind stationery stores of Korea and Japan, we wanted to make
                    this
                    incredible + unique culture accessible to everyone across the world.
                </p>
            </div>
            <div class="our_story_img animate__animated animate__backInRight ">
                <img src="//cdn.shopify.com/s/files/1/2026/1775/files/our_story_img-right_bae9a840-f5a8-4b64-aa1d-931452cd9f21.png?v=1637097655"
                     loading="lazy" class="img-fluid">
            </div>
        </div>
    </div>
</div>