@model IDataResult<BlogGetDto>

<div class="row no-gutters">
    <div class="col-md-12 mb-3">
        <h4 class="text-dark mb-1">Blog Title</h4>
        <p class="text-dark font-weight-medium pt-3 mb-2">@Model.Data.Title</p>
    </div>
    <div class="col-md-12 mb-3">
        <div class="contact-info">
            <h4 class="text-dark mb-1">Blog Content</h4>
            @Html.Raw(Model.Data.Content)
        </div>
    </div>
</div>

