@{
	ViewData["Title"] = "Blog";
}
@model IDataResult<List<BlogGetDto>>
<div class="breadcrumb-wrapper breadcrumb-wrapper-2 breadcrumb-contacts">
	<h1>Blogs</h1>
	<p class="breadcrumbs">
		<a class="btn btn-primary" asp-action="Create" asp-controller="Blog">New Blog</a>
	</p>
</div>
<div class="row">
	<div class="col-xl-12 col-lg-12">
		<div class="ec-cat-list card card-default">
			<div class="card-body">
				<div class="table-responsive">
					<partial name="_blogTablePartial" model="Model">
				</div>
			</div>
		</div>
	</div>
</div>

