@{
    ViewData["Title"] = "Bundle";
}
@model IDataResult<List<BundleGetDto>>
<div class="breadcrumb-wrapper breadcrumb-wrapper-2 breadcrumb-contacts">
	<h1>Bundles</h1>
	<p class="breadcrumbs">
		<span><a href="index.html">Home</a></span>
		<span><i class="mdi mdi-chevron-right"></i></span>Bundle
	</p>
</div>
<div class="row">
	<div class="col-xl-4 col-lg-12">
		<div class="ec-cat-list card card-default mb-24px">
			<div class="card-body">
				<div class="ec-cat-form">
					<h4>Add New Bundle</h4>
					<partial name="_bundleCreatePartial" model="new BundlePostDto()" />
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-8 col-lg-12">
		<div class="ec-cat-list card card-default">
			<div class="card-body">
				<div class="table-responsive">
					<partial name="_bundleTablePartial" model="Model" />
				</div>
			</div>
		</div>
	</div>
</div>

