@model ShippingSaleVM

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase - Notebook Thearpy</title>
    <!-- === Bootstrap CSS v5.2.3 === -->
    <link rel="stylesheet" href="~/assets/libs/bootstrap-5.2.3-dist/css/bootstrap.min.css">
    <!-- ==== Font Awesome Pro === -->
    <link rel="stylesheet" href="~/Manage/assets/plugins/font-awesome/css/all.min.css">
    <!-- ==== Custom Css === -->
    <link rel="stylesheet" href="~/assets/css/charge.css">
</head>
<body>
    <div class="container p-0">
        <div class="row">
            <div class="col-lg-7 col-12 ">
                <div class="container" style="margin-top: 50px;">
                    <img src="~/assets/images/logo.png" class="img-fluid d-block m-auto pb-5" style="width:280px" />
                    <div class="px-sm-5">
                        <div class="row border p-2">
                            <div class="col-2">
                                <p>Ship to</p>
                            </div>
                            <div class="col-8">
                                <p>@Model.shipping.Address,@Model.shipping.Apartment,@Model.shipping.PostalCode,@Model.shipping.City,@Model.shipping.Country</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form id="payment-form" method="post" asp-controller="Account" asp-action="Purchase">
                                    @Html.HiddenFor(n => n.SaleId)
                                    <section>
                                        <div class="bt-drop-in-wrapper">
                                            <div id="bt-dropin"></div>
                                        </div>
                                    </section>
                                    @Html.HiddenFor(n => n.Sale.Nonce, new { @id = "nonce" })
                                    <hr />
                                    <button class="btn bg-purple p-lg-3 text-white fw-bolder  mb-5" type="submit"><span>Confirm payment - $@Model.Sale.TotalPrice</span></button>
                                </form>
                            </div>
                        </div>
                        <div class="row r mt-3">
                            <div class="col-6 returnToCart">
                                <i class="fa-solid fa-chevron-left text-purple"></i>
                                <a href="./checkout.html" class="text-decoration-none text-purple">Return to information</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-12 bg-gray">
                <div class="container right py-5">
                    <partial name="_saleItemListPartial" model="Model.Sale">
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/libs/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://js.braintreegateway.com/web/dropin/1.22.0/js/dropin.min.js"></script>
    <script>
        var client_token = "@ViewBag.ClientToken";
        var form = document.querySelector('#payment-form');

        braintree.dropin.create({
            authorization: client_token,
            container: '#bt-dropin'
        }, function (createErr, instance) {
            form.addEventListener('submit', function (event) {
                event.preventDefault();

                instance.requestPaymentMethod(function (err, payload) {
                    if (err) {
                        return;
                    }
                    console.log(payload)
                    document.querySelector('#nonce').value = payload.nonce;
                    form.submit();
                });
            });
        });
    </script>
</body>
</html>
