@{
    Layout = null;
}
@model LoginDto;

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <!-- === Favicon === -->
    <link rel="icon" type="image/x-icon"
          href="https://cdn.shopify.com/s/files/1/2026/1775/files/NTfavicon_32x32.png?v=1613167164">
    <!-- === Bootstrap CSS v5.2.3 === -->
    <link rel="stylesheet" href="~/assets/libs/bootstrap-5.2.3-dist/css/bootstrap.min.css">
    <!-- ==== Font Awesome Pro === -->
    <link rel="stylesheet" href="~/assets/libs/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/assets/css/login_register.css">
    <!-- End layout styles -->
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="row w-100 m-0">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                    <div class="card col-lg-4 mx-auto">
                        <div class="card-body px-5 py-5">
                            <h3 class="card-title text-left mb-3">Login</h3>
                            <form asp-controller="Account" asp-action="Login">
                                <div class="form-group">
                                    <label>Email *</label>
                                    <input type="text" class="form-control p_input" asp-for="Email">
                                </div>
                                <div class="form-group">
                                    <label>Password *</label>
                                    <input type="password" class="form-control p_input" asp-for="Password">
                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input"> Remember me <i class="input-helper"></i>
                                        </label>
                                    </div>
                                    <a href="#" class="forgot-pass">Forgot password</a>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-pink btn-block enter-btn">Login</button>
                                </div>
                                <p class="sign-up">Don't have an Account?<a asp-action="Register" asp-controller="Account"> Sign Up</a></p>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- row ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
</body>

</html>