@{
    ViewData["Title"] = "Order Confirmed";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>About us - NoteBookThreapy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- === Favicon === -->
    <link rel="icon" type="image/x-icon"
          href="https://cdn.shopify.com/s/files/1/2026/1775/files/NTfavicon_32x32.png?v=1613167164">
    <!-- === Bootstrap CSS v5.2.3 === -->
    <link rel="stylesheet" href="~/assets/libs/bootstrap-5.2.3-dist/css/bootstrap.min.css">
    <!-- ==== Font Awesome Pro === -->
    <link rel="stylesheet" href="~/Manage/assets/plugins/font-awesome/css/all.min.css">
    <!-- === Custom CSS === -->
    <link rel="stylesheet" href="~/assets/css/order-status.css">


</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto d-flex justify-content-center">
                <img src="~/assets/images/order-declined.webp" alt="confetti" class="confetti">
            </div>
            <div class="col-12 text-center">
                <button class="nav_back">
                    <i class="fa-solid fa-compass fa-spin"></i>
                    <a asp-action="Index" asp-controller="Home" class="ms-3">Go back to page</a>
                </button>
            </div>
        </div>
    </div>
    <!-- === Bootstrap JavaScript Libraries === -->
    <script src="~/assets/libs/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
