@{
    ViewData["Title"] = "My Cart";
}
@section BeforeMediaLinks{
    <link href="~/assets/css/shoppingCart.css" rel="stylesheet" />
}
@model IDataResult<CartGetDto>
<div class="container">
    <h1 class="text-center fs-4 py-5">My Cart</h1>
    <div class="row">
        <div class="col-lg-9 col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <p class="fw-bold">Item</p>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-3">
                            <p class="fw-bold">Price</p>
                        </div>

                        <div class="col-4">
                            <p class="fw-bold">Quantity</p>
                        </div>

                        <div class="col-3">
                            <p class="fw-bold">Total</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="cartItems">
                <partial name="_cartItemPartial" model="Model.Data.CartItems.Where(c=>!c.isDeleted).ToList()" />
            </div>
        </div>
        <div class="col-lg-3 mt-2 ps-md-5 col-md-12">
            <p class="pb-2 border-bottom-1 fs-6 border-bottom border-dark">Order Summary</p>

            <div class="d-flex justify-content-between align-items-center py-3 border-bottom border-top">
                <p class="fw-bold p-0 m-0">Total:</p>
                <p class="fw-bold p-0 m-0">$28.98 USD</p>
            </div>
            <button class="bg-purple border-0 rounded-pill w-100 p-3 mt-3">
                <a href="#" class="text-decoration-none text-light fw-bold ">PROCEED TO CHECKOUT</a>
            </button>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $(document).on('click', '.add-to-cart', function () {
                var id = $(this).data('id');
                $.ajax({
                    url: '/Product/AddItemToCart',
                    method: 'POST',
                    data: { id: id },
                    success: function (result) {
                        $("#cartItems").load('@Url.Action("LoadCartItems", "Account", new { id = Model.Data.Id })')
                    }
                });
            });
            $(document).on('click', '.remove-from-cart', function () {
                var id = $(this).data('id');
                $.ajax({
                    url: '/Product/RemoveItemFromCart',
                    method: 'POST',
                    data: { id: id },
                    success: function (result) {
                        $("#cartItems").load('@Url.Action("LoadCartItems", "Account", new { id = Model.Data.Id })')
                    }
                });
            });
            $(document).on('click', '.remove-all-from-cart', function () {
                var id = $(this).data('id');
                $.ajax({
                    url: '/Product/RemoveItemFromCart',
                    method: 'POST',
                    data: { id: id, deleteAll: true },
                    success: function (result) {
                        $("#cartItems").load('@Url.Action("LoadCartItems", "Account", new { id = Model.Data.Id })')
                    }
                });
            });
        });
    </script>
}