@section BeforeMediaLinks{
    <link href="~/assets/css/shoppingCart.css" rel="stylesheet" />
}
<div class="container">
    <h1 class="text-center fs-4 py-5">My Cart</h1>
    <div class="row">
        <div class="col-lg-9 col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <p class="fw-bold">Item</p>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-3">
                            <p class="fw-bold">Price</p>
                        </div>

                        <div class="col-4">
                            <p class="fw-bold">Quantity</p>
                        </div>

                        <div class="col-3">
                            <p class="fw-bold">Total</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-flex align-items-center cardContainer p-3">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3 imgContainer">
                            <img src="https://cdn.shopify.com/s/files/1/2026/1775/products/moonflower5_360x.jpg?v=1591867703" alt="">
                        </div>
                        <div class="col-md-9">
                            <p>
                                Tsuki 'Moonflower' Limited Edition Luxury Bullet Journal ☾
                            </p>
                            <span class="subtitle"> Original (168 pages) </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="row d-flex align-items-center">
                        <div class="col-3">
                            <p>$28.98 USD</p>
                        </div>
                        <div class="col-3 d-flex align-items-center gap-3  pb-3">
                            <button class="action"><span>-</span></button>
                            <p class="mb-0">1</p>
                            <button class="action"><span>+</span></button>
                        </div>
                        <div class="col-3">
                            <p>$28.98 USD</p>
                        </div>
                        <div class="col-3 pb-3 d-flex justify-content-center">
                            <span class="fs-5"><i class="fa-solid fa-x"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex align-items-center cardContainer p-3">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3 imgContainer">
                            <img src="https://cdn.shopify.com/s/files/1/2026/1775/products/moonflower5_360x.jpg?v=1591867703" alt="">
                        </div>
                        <div class="col-md-9">
                            <p>
                                Tsuki 'Moonflower' Limited Edition Luxury Bullet Journal ☾
                            </p>
                            <span class="subtitle"> Original (168 pages) </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="row d-flex align-items-center">
                        <div class="col-3">
                            <p>$28.98 USD</p>
                        </div>
                        <div class="col-3 d-flex align-items-center gap-3  pb-3">
                            <button class="action"><span>-</span></button>
                            <p class="mb-0">1</p>
                            <button class="action"><span>+</span></button>
                        </div>
                        <div class="col-3">
                            <p>$28.98 USD</p>
                        </div>
                        <div class="col-3 pb-3 d-flex justify-content-center">
                            <span class="fs-5"><i class="fa-solid fa-x"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex align-items-center cardContainer p-3">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3 imgContainer">
                            <img src="https://cdn.shopify.com/s/files/1/2026/1775/products/moonflower5_360x.jpg?v=1591867703" alt="">
                        </div>
                        <div class="col-md-9">
                            <p>
                                Tsuki 'Moonflower' Limited Edition Luxury Bullet Journal ☾
                            </p>
                            <span class="subtitle"> Original (168 pages) </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="row d-flex align-items-center">
                        <div class="col-3">
                            <p>$28.98 USD</p>
                        </div>
                        <div class="col-3 d-flex align-items-center gap-3  pb-3">
                            <button class="action"><span>-</span></button>
                            <p class="mb-0">1</p>
                            <button class="action"><span>+</span></button>
                        </div>
                        <div class="col-3">
                            <p>$28.98 USD</p>
                        </div>
                        <div class="col-3 pb-3 d-flex justify-content-center">
                            <span class="fs-5"><i class="fa-solid fa-x"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex align-items-center cardContainer p-3">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3 imgContainer">
                            <img src="https://cdn.shopify.com/s/files/1/2026/1775/products/moonflower5_360x.jpg?v=1591867703" alt="">
                        </div>
                        <div class="col-md-9">
                            <p>
                                Tsuki 'Moonflower' Limited Edition Luxury Bullet Journal ☾
                            </p>
                            <span class="subtitle"> Original (168 pages) </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="row d-flex align-items-center">
                        <div class="col-3">
                            <p>$28.98 USD</p>
                        </div>
                        <div class="col-3 d-flex align-items-center gap-3  pb-3">
                            <button class="action"><span>-</span></button>
                            <p class="mb-0">1</p>
                            <button class="action"><span>+</span></button>
                        </div>
                        <div class="col-3">
                            <p>$28.98 USD</p>
                        </div>
                        <div class="col-3 pb-3 d-flex justify-content-center">
                            <span class="fs-5"><i class="fa-solid fa-x"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex align-items-center cardContainer p-3">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3 imgContainer">
                            <img src="https://cdn.shopify.com/s/files/1/2026/1775/products/moonflower5_360x.jpg?v=1591867703" alt="">
                        </div>
                        <div class="col-md-9">
                            <p>
                                Tsuki 'Moonflower' Limited Edition Luxury Bullet Journal ☾
                            </p>
                            <span class="subtitle"> Original (168 pages) </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="row d-flex align-items-center">
                        <div class="col-3">
                            <p>$28.98 USD</p>
                        </div>
                        <div class="col-3 d-flex align-items-center gap-3  pb-3">
                            <button class="action"><span>-</span></button>
                            <p class="mb-0">1</p>
                            <button class="action"><span>+</span></button>
                        </div>
                        <div class="col-3">
                            <p>$28.98 USD</p>
                        </div>
                        <div class="col-3 pb-3 d-flex justify-content-center">
                            <span class="fs-5"><i class="fa-solid fa-x"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-2 ps-md-5 col-md-12">
            <p class="pb-2 border-bottom-1 fs-6 border-bottom border-dark">Order Summary</p>

            <div class="d-flex justify-content-between align-items-center py-3 border-bottom border-top">
                <p class="fw-bold p-0 m-0">Total:</p>
                <p class="fw-bold p-0 m-0">$28.98 USD</p>
            </div>
            <button class="bg-purple border-0 rounded-pill w-100 p-3 mt-3">
                <a href="#" class="text-decoration-none text-light fw-bold ">PROCEED TO CHECKOUT</a>
            </button>
        </div>
    </div>
</div>