@{
    ViewData["Title"] = "FAQs";
}
@model IDataResult<List<FAQGetDto>>
<div class="breadcrumb-wrapper breadcrumb-wrapper-2 breadcrumb-contacts">
	<h1>Frequently Asked Questions</h1>
	<p class="breadcrumbs">
        <a class="btn btn-primary" asp-action="Create" asp-controller="FAQ">New Question</a>
	</p>
</div>
<div class="row">
	<div class="col-xl-12 col-lg-12">
		<h3>Not Answered Questions</h3>
		<div class="ec-cat-list card card-default">
			<div class="card-body">
				<div class="table-responsive">
					<partial name="_faqGetPartial" model="Model.Data.Where(f=>!f.isAnswered && f.Answer is null).ToList()" />
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row py-5">
	<div class="col-xl-12 col-lg-12">
		<h3>Answered Questions</h3>
		<div class="ec-cat-list card card-default">
			<div class="card-body">
				<div class="table-responsive">
					<partial name="_faqGetPartial" model="Model.Data.Where(f=>f.isAnswered && f.Answer is not null).ToList()" />
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-contact" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content px-4">
            <div class="modal-header border-bottom-0">
                <h5>FAQ Details</h5>
                <button type="button" class="btn-close-icon justify-content-end" data-bs-dismiss="modal" aria-label="Close">
                    <i class="mdi mdi-close"></i>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(".table").on("click", "#infoBtn", function () {
            var id = $(this).data('id');
            $.ajax({
                url: "@Url.Action("Get", "FAQ")",
                data: { id: id },
                success: function (data) {
                    $("#modal-contact .modal-dialog .modal-body").html(data);
                }
            });
        });
    </script>
}