<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Notebook Thearpy">

<title>@ViewData["Title"] - Notebook Thearpy Admin</title>

<!-- GOOGLE FONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com/">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&amp;family=Poppins:wght@300;400;500;600;700;800;900&amp;family=Roboto:wght@400;500;700;900&amp;display=swap" rel="stylesheet">

<link href="~/Manage/assets/css/materialdesignicons.min.css" rel="stylesheet" />

<!-- PLUGINS CSS STYLE -->
<link href="~/Manage/assets/plugins/simplebar/simplebar.css" rel="stylesheet" />
<link href="~/Manage/assets/bootstrap/css/bootstrap.css"  rel="stylesheet" />

<link href="~/Manage/assets/plugins/font-awesome/css/all.min.css" rel="stylesheet"/>

<!-- Data Tables -->
<link href='~/Manage/assets/plugins/data-tables/datatables.bootstrap5.min.css' rel='stylesheet'>
<link href='~/Manage/assets/plugins/data-tables/responsive.datatables.min.css' rel='stylesheet'>

<!-- ekka CSS -->
<link id="ekka-css" rel="stylesheet" href="~/Manage/assets/css/ekka.css" />
<link id="ekka-css" rel="stylesheet" href="~/Manage/assets/css/main.css" />

<!-- FAVICON -->
<link href="~/Manage/assets/img/favicon.png" rel="shortcut icon" />