<div class="ec-left-sidebar ec-bg-sidebar">
	<div id="sidebar" class="sidebar ec-sidebar-footer">

		<div class="ec-brand">
			<a href="index.html" title="Notebook Thearpy">
				<img class="ec-brand-icon" src="assets/img/logo/ec-site-logo.png" alt="" />
				<span class="ec-brand-name text-truncate">NT</span>
			</a>
		</div>

		<!-- begin sidebar scrollbar -->
		<div class="ec-navigation" data-simplebar>
			<!-- sidebar menu -->
			<ul class="nav sidebar-inner" id="sidebar-menu">
				<!-- Dashboard -->
				<li>
					<a class="sidenav-item-link" asp-action="Index" asp-controller="Home">
						<i class="mdi mdi-view-dashboard-outline"></i>
						<span class="nav-text">Dashboard</span>
					</a>
					<hr>
				</li>

				<!-- Users -->
				<li>
					<a class="sidenav-item-link" asp-controller="User" asp-action="Index">
						<i class="mdi mdi-account-group"></i>
						<span class="nav-text">Users</span>
					</a>
				</li>

				<!-- Roles -->
				<li>
					<a class="sidenav-item-link" asp-controller="Role" asp-action="Index">
						<i class="fas fa-user-tag"></i>
						<span class="nav-text">Roles</span>
					</a>
					<hr />	
				</li>

				<!-- Category -->
				<li>
					<a class="sidenav-item-link" asp-controller="Category" asp-action="Index">
						<i class="mdi mdi-dns-outline"></i>
						<span class="nav-text">Categories</span>
					</a>
				</li>

				<!-- Products -->
				<li class="has-sub">
					<a class="sidenav-item-link" href="javascript:void(0)">
						<i class="fa-solid fa-notebook"></i>
						<span class="nav-text">Products</span> <b class="caret"></b>
					</a>
					<div class="collapse">
						<ul class="sub-menu" id="products" data-parent="#sidebar-menu">
							<li class="">
								<a class="sidenav-item-link" asp-controller="Product" asp-action="Create">
									<span class="nav-text">Add New Product</span>
								</a>
							</li>
							<li class="">
								<a class="sidenav-item-link" asp-controller="Product" asp-action="Index">
									<span class="nav-text">All Products</span>
								</a>
							</li>
						</ul>
					</div>
				</li>

				<!--Product Parameters -->
				<li class="has-sub">
					<a class="sidenav-item-link" href="javascript:void(0)">
						<i class="fa-solid fa-toolbox"></i>
						<span class="nav-text">Parameters</span> <b class="caret"></b>
					</a>
					<div class="collapse">
						<ul class="sub-menu" id="parameters" data-parent="#sidebar-menu">
							<li class="">
								<a class="sidenav-item-link" asp-controller="Size" asp-action="Index">
									<span class="nav-text">Size</span>
								</a>
							</li>
							<li class="">
								<a class="sidenav-item-link" asp-controller="Color" asp-action="Index">
									<span class="nav-text">Color</span>
								</a>
							</li>
							<li class="">
								<a class="sidenav-item-link" asp-controller="Bundle" asp-action="Index">
									<span class="nav-text">Bundle</span>
								</a>
							</li>
						</ul>
					</div>
				</li>

				<!-- Product Collection -->
				<li class="has-sub">
					<a class="sidenav-item-link" href="javascript:void(0)">
						<i class="fas fa-tag"></i>
						<span class="nav-text">Collections</span> <b class="caret"></b>
					</a>
					<div class="collapse">
						<ul class="sub-menu" id="collections" data-parent="#sidebar-menu">
							<li class="">
								<a class="sidenav-item-link" asp-controller="ProductCollection" asp-action="Create">
									<span class="nav-text">Add New Collection</span>
								</a>
							</li>
							<li class="">
								<a class="sidenav-item-link" asp-controller="ProductCollection" asp-action="Index">
									<span class="nav-text">All Collections</span>
								</a>
							</li>
						</ul>
					</div>
				</li>

				<!-- Orders -->
				<li class="has-sub">
					<a class="sidenav-item-link" href="javascript:void(0)">
						<i class="mdi mdi-cart"></i>
						<span class="nav-text">Orders</span> <b class="caret"></b>
					</a>
					<div class="collapse">
						<ul class="sub-menu" id="orders" data-parent="#sidebar-menu">
							<li class="">
								<a class="sidenav-item-link" href="new-order.html">
									<span class="nav-text">New Order</span>
								</a>
							</li>
							<li class="">
								<a class="sidenav-item-link" href="order-history.html">
									<span class="nav-text">Order History</span>
								</a>
							</li>
							<li class="">
								<a class="sidenav-item-link" href="order-detail.html">
									<span class="nav-text">Order Detail</span>
								</a>
							</li>
							<li class="">
								<a class="sidenav-item-link" href="invoice.html">
									<span class="nav-text">Invoice</span>
								</a>
							</li>
						</ul>
					</div>
				</li>

				<!-- Reviews -->
				<li>
					<a class="sidenav-item-link" asp-action="Index" asp-controller="Review">
						<i class="mdi mdi-star-half"></i>
						<span class="nav-text">Reviews</span>
					</a>
					<hr />
				</li>

				<!-- FAQ -->
				<li class="has-sub">
					<a class="sidenav-item-link" href="javascript:void(0)">
						<i class="mdi mdi-comment-question-outline"></i>
						<span class="nav-text">FAQ</span> <b class="caret"></b>
					</a>
					<div class="collapse">
						<ul class="sub-menu" id="faqs" data-parent="#sidebar-menu">
							<li class="">
								<a asp-controller="FAQCategory" asp-action="Index">
									<span class="nav-text">FAQ Categories</span>
								</a>
							</li>
							<li class="">
								<a asp-controller="FAQ" asp-action="Index">
									<span class="nav-text">FAQs</span>
								</a>
							</li>
						</ul>
					</div>
                    <hr />
				</li>

				<!-- Blog -->
				<li>
					<a class="sidenav-item-link" asp-action="Index" asp-controller="Blog">
						<i class="mdi mdi-blogger"></i>
						<span class="nav-text">Blogs</span>
					</a>
					<hr />
				</li>

				<!-- Sign out -->
				<li>
					<a class="sidenav-item-link" asp-action="SignOut" asp-controller="Account" asp-area="">
						<i class="fas fa-sign-out-alt"></i>
						<span class="nav-text">Sign Out</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>