<footer class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-12 d-flex justify-content-center gap-3 icons">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-pinterest-p"></i>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <h3 class="fs-4 fw-bold">Info</h3>
                <ul>
                    <li><a asp-action="Index" asp-controller="Blog">Blog</a></li>
                    <li><a asp-action="About" asp-controller="Home">About Us</a></li>
                    <li><a asp-action="Index" asp-controller="FAQ">Common Questions</a></li>
                    <li><a asp-action="Contact" asp-controller="Home">Contact us</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <h3 class="fs-4 fw-bold">Shop</h3>
                <ul>
                    <li><a href="">New Additions</a></li>
                    <li><a href="">Top Selling</a></li>
                    <li><a href="">Notebooks</a></li>
                    <li><a href="">Bags</a></li>
                    <li><a href="">Pens</a></li>
                    <li><a href="">Pencil Cases</a></li>
                    <li><a href="">Stickers</a></li>
                    <li><a href="">Washi Tape</a></li>
                    <li><a href="">Gift Cards</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <h3 class="fs-4 fw-bold">Join for special updates & discounts 👇</h3>
                <input type="email" placeholder="enter your email adress" class="mb-3">
                <input type="submit">
            </div>
        </div>
    </div>
</footer>