<header>
    <nav>
        <div class="header_top" id="navbar">
            <div class="logo">
                <a asp-action="Index" asp-controller="Home">
                    <img src="~/assets/images/logo.png" alt="">
                </a>
            </div>
            <div class="icons">
                <a asp-action="" asp-controller="">
                    <i class="fa-regular fa-basket-shopping-simple fa-fade">
                    </i>
                    <span>Shopping Cart</span>
                </a>
                <a asp-action="Profile" asp-controller="Account" class="ms-4">
                    <i class="fa-regular fa-user"></i>
                </a>
            </div>
        </div>
        <div class="navbar_responsive">
            <div class="toggle_menu" id="toggle-menu">
                <i class="fa-regular fa-grid-2"></i>
            </div>
            <div class="logo">
                <a asp-action="Index" asp-controller="Home">
                    <img src="~/assets/images/logo.png" alt="">
                </a>
            </div>
            <div class="icons ">
                <a href="#">
                    <i class="fa-regular fa-basket-shopping-simple fa-fade">
                    </i>
                </a>
                <a asp-action="Profile" asp-controller="Account" class="ms-2">
                    <i class="fa-regular fa-user"></i>
                </a>
            </div>
        </div>
        <ul class="nav_list" id="nav-menu">
            <div class="close_menu" id="close-menu">
                <i class="fa-regular fa-xmark"></i>
            </div>
            <li class="nav_item">
                <a href="#" class="nav_link">All categories</a>
            </li>
            <li class="nav_item">
                <a href="trending.html" class="nav_link">Trending</a>
            </li>
            <li class="nav_item">
                <a href="new-additions.html" class="nav_link">New Additions</a>
            </li>
            <li class="nav_item">
                <a href="tsuki.html" class="nav_link">Tsuki Collection 🌙</a>
            </li>
            <li class="nav_item">
                <a href="hinoki.html" class="nav_link">Hinoki Collection 🌲</a>
            </li>
            <li class="nav_item drop_down">
                <div href="#" class="nav_link dropdown_link cursor-pointer d-inline">
                    Seasonal Launches
                    <i class="fa-solid fa-chevron-down dropdown_icon"></i>
                </div>
                <div class="megamenu">
                    <ul class="content">
                        <li class="megamenu_item">
                            <div class="menu_icon">
                                <span>🌸</span>
                            </div>
                            <div class="megamenu_link">
                                <a href="#">Sakura Breeze</a>
                                <p>Inspired by serene Japanese streets 🌸</p>
                            </div>
                        </li>
                        <li class="megamenu_item">
                            <div class="menu_icon">
                                <span>🖤</span>
                            </div>
                            <div class="megamenu_link">
                                <a href="#">Academia Collection</a>
                                <p>Inspired by the arts with classical roots 🖤</p>
                            </div>
                        </li>
                        <li class="megamenu_item">
                            <div class="menu_icon">
                                <span>👧🏻</span>
                            </div>
                            <div class="megamenu_link">
                                <a href="#">Happy day Collection</a>
                                <p>Inspired by Peppoko’s iconic girl illustrations 👧🏻</p>
                            </div>
                        </li>
                        <li class="megamenu_item">
                            <div class="menu_icon">
                                <span>🔮</span>
                            </div>
                            <div class="megamenu_link">
                                <a href="#">Moonlit Spells</a>
                                <p>Inspired by moon rituals + midnight magic ✨</p>
                            </div>
                        </li>
                    </ul>
                    <ul class="content">
                        <li class="megamenu_item">
                            <div class="menu_icon">
                                <span>🗝</span>
                            </div>
                            <div class="megamenu_link">
                                <a href="#">LOVE LOCK</a>
                                <p>Inspired by timeless romance and vintage charm 🗝️</p>
                            </div>
                        </li>
                        <li class="megamenu_item">
                            <div class="menu_icon">
                                <span>🕊️</span>
                            </div>
                            <div class="megamenu_link">
                                <a href="#">MOONFLOWER COLLECTION</a>
                                <p>Inspired by the bloom of the moonflower ❄</p>
                            </div>
                        </li>
                        <li class="megamenu_item">
                            <div class="menu_icon">
                                <span>🌊</span>
                            </div>
                            <div class="megamenu_link">
                                <a href="#">OCEAN COLLECTION</a>
                                <p>Inspired by our favourite marine mammals</p>
                            </div>
                        </li>
                        <li class="megamenu_item">
                            <div class="menu_icon">
                                <span>💐</span>
                            </div>
                            <div class="megamenu_link">
                                <a href="#">Floral Collection</a>
                                <p>Our collection inspired by flowers + springtime.</p>
                            </div>
                        </li>
                    </ul>
                    <ul class="content">
                        <li class="megamenu_item">
                            <div class="menu_icon">
                                <span>🍵</span>
                            </div>
                            <div class="megamenu_link">
                                <a href="#">Tea Party Collection</a>
                                <p>Enjoy your very own Tea Party ✨</p>
                            </div>
                        </li>
                        <li class="megamenu_item">
                            <div class="menu_icon">
                                <span>🥀</span>
                            </div>
                            <div class="megamenu_link">
                                <a href="#">Vintage Rose</a>
                                <p>Inspired by all things vintage + romantic... 🥀</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="icons icons_scroll">
            <a href="#">
                <i class="fa-regular fa-basket-shopping-simple fa-fade">
                </i>
            </a>
            <a asp-action="Profile" asp-controller="Account" class="ms-2">
                <i class="fa-regular fa-user"></i>
            </a>
        </div>
    </nav>
</header>