<!DOCTYPE html>
<html lang="en">

<head>
    <partial name="_headPartial" />
    @RenderSection("BeforeMediaLinks",false)
    <link rel="stylesheet" href="~/assets/css/media.css">
    @RenderSection("AfterMediaLinks",false)
</head>

<body id="body">
    <partial name="_headerPartial" />

    <div class="overlap"></div>
    @RenderBody()
    <partial name="_footerPartial" />
    <partial name="_scriptsPartial" />
    @RenderSection("Scripts",false)
</body>
</html>