:root {
    /* Fonts */
    --Poppins: 'Poppins', sans-serif;
    /* Colors */
    --body-color: #3c3c3c;
    --pink: #ddadb3;
    --pink_opaque: #ddadb357;
    --darker_pink: #de94a6;
    --darkest_pink: #e06372;
    --color_title_pr: #232323;
    --color_price: #e6acb9;
    --color_compare_price: #708090;
    --color_blog: #888;
    --nigar-purple: #de94a5;

    /* Font Size */
    --font_size: 0.8125rem;
}

:root.dark {
    /* Fonts */

    /* Colors */
}